
@font-face {
  font-family: 'Sohne';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/Soehne/Soehne/Sohne-Leicht.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Sohne';
  font-style: italic;
  font-weight: 300;
  src: local(''),
    url('../fonts/Soehne/Soehne/Sohne-LeichtKursiv.otf') format('opentype');
  font-display: swap;
}


@font-face {
  font-family: 'Sohne';
  font-style: normal;
  font-weight: 200;
  src: local(''),
    url('../fonts/Soehne/Soehne/Sohne-Extraleicht.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Sohne';
  font-style: italic;
  font-weight: 200;
  src: local(''),
    url('../fonts/Soehne/Soehne/Sohne-ExtraleichtKursiv.otf') format('opentype');
  font-display: swap;
}


@font-face {
  font-family: 'Sohne';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/Soehne/Soehne/Sohne-Kraftig.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Sohne';
  font-style: normal;
  font-weight: 800;
  src: local(''),
    url('../fonts/Soehne/Soehne/Sohne-Fett.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Sohne';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/Soehne/Soehne/Sohne-Halbfett.otf') format('opentype');
  font-display: swap;
}